# Build outputs
out/
kali-rootfs/
config-temp/
*.squashfs
*.img

# Docker
.kotlin/

# Rootfs scratch dirs (generated during Docker build)
/bin/
/etc/
/lib/
/sbin/
/usr/
/var/
/dev/
/home/
/media/
/mnt/
/opt/
/proc/
/root/
/run/
/srv/
/sys/
/tmp/
